on:
  pull_request:
    branches: [master]
  push:
    branches: [master]
jobs:
  goreadme:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v2
    - name: Update readme according to Go doc
      uses: posener/goreadme@v1
      with:
        title: Goaction Issues Example
        github-token: '${{ secrets.GITHUB_TOKEN }}'
